<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://unpkg.com/react-media-player/dist/react-media-player.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speech.Pry</title>
    <meta src="vis.min.js" />
    <meta src="vis.min.css" />
    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <ul class="menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <% if user_signed_in? %>
              <li> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </li>
            <% end %>
          </ul>
        </div>
      </ul>
    </div>

    <%= yield %>

  </body>

</html>
